################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HyperLinkLabel/obj
/.vs
/Sample/obj
